html {
    font-family: 'Roboto', sans-serif;
    background-color: deepskyblue;
}

img {
    max-width: 501px;
}

div {
    background-color: snow;
    border-radius: 10px;
    padding: 26px;
    width: 80%;
    max-width: 502px;
    margin: auto;
    box-shadow: 2px 2px 25px #000;
}

h1 {
    text-shadow: 2px 2px 6px grey;
    text-align: center;
}

p {
    text-align: left;
}
